<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link rel="stylesheet" href="order-details.css">
    
    <title>Order Details</title>
</head>

<body>

    <table class="order-details">
        <thead class="order-details-head">
            <tr>
                <th class="order-details-head__title--left">Description</th>
                <th class="order-details-head__title--left">Qty</th>
                <th class="order-details-head__title--right">Price</th>
                <th class="order-details-head__title--right">Amount</th>
            </tr>
        </thead>
        <tbody class="order-details-body">
            <tr>
                <td class="order-details-body__line--left">Tensioner</td>
                <td class="order-details-body__line--left">1</td>
                <td class="order-details-body__line--right">$95.00</td>
                <td class="order-details-body__line--right">$45.00</td>
            </tr>
            <tr>
                <td class="order-details-body__line--left">Oil Filter</td>
                <td class="order-details-body__line--left">1</td>
                <td class="order-details-body__line--right">$103.00</td>
                <td class="order-details-body__line--right">$103.00</td>
            </tr>
            <tr>
                <td class="order-details-body__line--left">Bilstein 5100 Shocks</td>
                <td class="order-details-body__line--left">4</td>
                <td class="order-details-body__line--right">$200.00</td>
                <td class="order-details-body__line--right">$800.00</td>
            </tr>
            <tr>
                <td class="order-details-body__line--left">Labor (per hour)</td>
                <td class="order-details-body__line--left">14</td>
                <td class="order-details-body__line--right">$70.00</td>
                <td class="order-details-body__line--right">$980.00</td>
            </tr>
        </tbody>
    </table>

</body>

</html>