* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.description {
    padding: 15px;
    flex: 1;
    text-align: center;
    
}

.description__title, .description__paragraph {
    padding: 10px;
    
}

.description__title {
    color:#2d333f;
    font-weight: bold;
}

.description__paragraph {
    color: #c4c5c9;
}
