<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="description.css">
    <title>Description</title>
</head>
<body>
    <article class="description">
        <h2 class="description__title">Track projects easily</h2>
        <p class="description__paragraph">Providers can give updates, share satus, request updates, and require payments in one, efficient tool. Simple, easy, progress.</p>
    </article>
</body>
</html>