<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link rel="stylesheet" href="services-track-clear.css">
    <title>Services Track Clear</title>
</head>

<body>
    <section class="track-clear">
        <article class="description">
            <h2 class="description__title">Track projects easily</h2>
            <p class="description__paragraph">Providers can give updates, share satus, request updates, and require payments in one, efficient tool. Simple,
                easy, progress.</p>
        </article>
        <img class="track-clear__code" src="code.png" alt="code mobile screenshots">

        <article class="description">
            <h2 class="description__title">Clear Communication</h2>
            <p class="description__paragraph">Progress allows direct communication between the consumer and service provider. No more waiting for call backs, missing emails, or lost paperwork.</p>
        </article>
    </section>
</body>

</html>