body {
    height: 100%; 
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;

}

/* DESCRIPTION CSS */


.description {
    padding: 15px;
    text-align: center;
}

.description__title, .description__paragraph {
    padding: 10px;
}

/* SERVICES CSS */

.estimate {
    background-color: #F8F8F9;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.estimate .description {
    padding: 1.5rem 0 1.5rem 0;
    width: 65%;
   
}

.estimate .description__title, .estimate .description__paragraph {
    padding: 0;
}

.estimate__table {
width: 65%;
}

/* RESPONSIVE CSS */

@media screen and (min-width: 768px) {
    .estimate {
    display: block;
    position: absolute;
    padding-top: 3rem;
      
    }
    .estimate .description {
    width: 40%;
    float: left;
    padding: 14% 0 0 8%;
    text-align: left;
    }
    .estimate__table {
    width: 40%;
    float: right;
    padding-right: 8%;
    }

}